// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comment-action {
  float: right;
}

.anchor {
  // display: block; position: relative;
  // top: -250px;
  // top: -250px;
  display: block;
  margin-top: -80px;
  padding-top: 80px;
  visibility: hidden;
}
