// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
%hover-highlight {
  a {
    text-decoration: none;
    &:hover {
      color: #3A9CDC;
    }
  }
}

.item {
  display: table;
  padding: 10px 10px 10px 10px;
  margin: -1px;
  border: 1px solid #eee;
  margin-bottom: 10px;
}

.item__thumbnail {
  display: table-cell;
  vertical-align: middle;
  padding-right: 10px;
  width: 100px;
}

.item__reputation {
  padding-right: 20px;
  width: 60px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.item__post {
  display: table-cell;
  vertical-align: top;
}

.item__title {
  font-weight: bold;
  font-size: 1.5em;
  line-height: 1.2em;
  @extend %hover-highlight
}

.flat-list {
  list-style-type: none;
  padding-left: 0;
}

.item__list {
  width: 20%;
}

.item__vote {
  font-size: 1.8em;
  color: #999999;
}

.item__vote > a {
  &:visited {
    color: #999999;
  }
  color: #999999;
}

.upvote {
  @extend .item__vote
}

.upvote > a {
  &:hover {
    color: green;
  }
}

.downvote {
  @extend .item__vote
}

.downvote > a {
  &:hover {
    color: red;
  }
}

.item {
  width: 100%;
  height: 100%;
}

.reputation--text {
  font-size: 2em;
}

.thumbnail {
  width: 80px;
  height: 60px;
}

.score {
  font-weight: bold;
  padding-top: 4px;
  padding-bottom: 4px;
}


.content {
  border: 1px solid #eee;
  margin-bottom: 30px;
}

.post-content {
  word-wrap:break-word;
  padding: 15px;
}

.body {
  border: 1px solid #eee;
  padding: 5px;
}

.timeline-post {
  border-bottom: 1px solid #eee;
}

.post {
  padding: 10px 10px 0 0;
  ul {
    padding-left: 60px;
  }
}

//
// .timeline-post {
//   padding: 10px 10px 10px 0;
//   height: 80px;
//   ul {
//     padding-left: 60px;
//   }
// }


.comments {

}

.comment-wrapper {
  position: relative;
  padding-left: 64px;
  .comment-avatar {
    float: left;
    margin-left: -64px;
    img {
      height: 40px;
      width: 40px;
    }
  }
}

.timeline-comment {
  position: relative;
  border: 1px solid #eee;
  background-color: #ddd;
  // border-radius: 2px;
  border-color: black;
  margin-bottom: 5px;

  &:before, &:after{
    position: absolute;
    top: 11px;
    left: -16px;
    right: 100%;
    width: 0;
    height: 0;
    display: block;
    content: " ";
    border-color: transparent;
    border-style: solid solid outset;
    pointer-events: none;
  }
  &:after {
    border-right-color: #f2f8fa;
    border-width: 7px;
    margin-top: 1px;
    margin-left: 2px;
  }
  &:before {
    border-right-color: black;
    border-width: 8px;
  }

  .timeline-comment-header {
    height: 38px;
    background-color: #f2f8fa;
    border-bottom-color: #e1edf1;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 1px solid #eee;
    .timeline-comment-header-text {
      padding-top: 10px;
      padding-bottom:10px;
      span.timeline-comment-header-action {
        float: right;
      }
    }
  }
  .timeline-content {
    background-color: #fff;
    padding: 15px;
    // width: 864px;
    word-wrap:break-word;
  }
}

.thumbnail {
  float: left;
  margin: 0 20px 0 0;
}

p.title {
  font-size: 18px;
  padding: 10px 0 0 0;
  margin: 0;
}

div.entry {
  margin-left: 3px;
}

a.redirect {
  color: #858585;
}

ul.comment-header {
  margin-left: 0;
  padding-left: 0;
}

.balloon {
  position: relative;
  width: 200px;
  height: 30px;
  background-color: #ccc;
  text-align: center;
}

.balloon .triangle {
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -10px;
  width: 0;
  height: 0;
  border-top: 10px solid #ccc;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
